<!DOCTYPE html>

<html>
<header class="bar bar-nav"> 
<title class="title">filter App</title>
<link rel="stylesheet" type="text/css" href="ratchet-theme-ios.min.css">
<link rel="stylesheet" type="text/css" href="ratchet.min.css">   
<link rel="stylesheet" type="text/css" href="custom.css">    
</header>   
<body>

    
    
    
    
<div ng-app="myApp">
    <div id="container" ng-controller="AvengersCtrl">
        <form class="input-group">
        <input type="text" placeholder="Stuff" ng-model="search.$">
        </form>    
        <table>
            <tr ng-repeat="actor in avengers.cast | filter:search">
                <td>{{actor.name}}</td>
                <td>{{actor.character}}</td>
                <td class="special" style="color:orange;">{{actor.kid}}</td>
                <td class="special" style="color:grey;">{{actor.friend}}</td>
            </tr>
        </table>
    </div>
</div>
    
    
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>    
</body> 
</html>